{% extends 'base.html' %}
{% load static %}

{% block title %}
add adress
{% endblock %}

{% block link %}
<style>
    .custom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150vh;
        justify-content: center;
    }

    .form-container {
        width: 75%;
        padding: 20px;
        background-color: #f1f1f1;
        border-radius: 10px;
    }

    .add-address-button {
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block user %}
    <a href="" class="btn border">
        <i class="fa fa-user" aria-hidden="true" style="color: #F1B709;"></i>
        <span class="badge">{{ user }}</span>
    </a>
{% endblock %}

{% block content %}
<div class="container-fluid pt-5">
    <div class="custom-container">
        <div class="form-container">
            <h3>Add New Address</h3>
            <hr>
            <form action="{% url 'add_address' %}"  method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlInput1">First Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name" name="firstname" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Last</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name" name="lastname" required>
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Phone number</label>
                    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Enter your phone number" name="phone" required>
                  </div>
                  
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" name ="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Address</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your address" name="address" required></textarea>
                  </div>
                  
                  <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" placeholder="Enter your country" name="country" required>
                  </div>
                  <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" placeholder="Enter your state" name="state" required>
                  </div>
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" placeholder="Enter your city" name="city" required>
                  </div>
                  <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="text" class="form-control" id="pincode" placeholder="Enter your pincode" name="pincode" required>
                  </div>
                  
                
               
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
