{%extends 'baseadmin.html'%}
{% load static %}
{% block title %}
add_product
{% endblock %}
{% block content %}
<h1>
    test
</h1>




  {% endblock %}       



<!-- 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    
        {{ form.as_p }}
    
        <div class="form">
            <div class="form-group">
                {{ form.images.label_tag }}
                {{ form.images }}
            </div>
        </div>
    
        <input type="submit" value="Save">
    </form>
</body>
</html> -->




